# Honor Roll

## To generate Honor Roll Certificates by Class. Only requires uploading 3 CSV reports from SIS and running them through the script

In [23]:
import pandas as pd
import numpy as np

## Generate All-A Data Frame
### Import All_A List - pulled from GRD413

In [24]:
All_A_List = pd.read_csv("All_A.csv")

### Drop unnecessary columns

In [25]:
All_A_List.columns

Index(['Grade', 'Primary GPA', 'Secondary GPA', 'Student Name', 'Perm ID',
       'Gender', 'Credits Attempted', 'Credits Completed', 'Section ID',
       'Teacher', 'Room', 'Homeroom Teacher', 'Homeroom Name'],
      dtype='object')

In [26]:
All_A = All_A_List.drop(columns=['Primary GPA', 'Secondary GPA',
       'Gender', 'Credits Attempted', 'Credits Completed', 'Section ID',
       'Teacher', 'Room', 'Homeroom Teacher', 'Homeroom Name'])

### Insert column to distinguish type of Honor Roll distinction

In [27]:
All_A['Type'] = 'All-A'

### Confirm column was added correctly with correct values

In [28]:
All_A['Type'].head()

0    All-A
1    All-A
2    All-A
3    All-A
4    All-A
Name: Type, dtype: object

## Generate AB Data Frame
### Import AB List - pulled from GRD413

In [29]:
AB_List = pd.read_csv("AB.csv")

### Drop unnecessary columns

In [30]:
AB_List.columns

Index(['Grade', 'Primary GPA', 'Secondary GPA', 'Student Name', 'Perm ID',
       'Gender', 'Credits Attempted', 'Credits Completed', 'Section ID',
       'Teacher', 'Room', 'Homeroom Teacher', 'Homeroom Name'],
      dtype='object')

In [31]:
AB = AB_List.drop(columns=['Primary GPA', 'Secondary GPA',
       'Gender', 'Credits Attempted', 'Credits Completed', 'Section ID',
       'Teacher', 'Room', 'Homeroom Teacher', 'Homeroom Name'])

### Insert column to distinguish type of Honor Roll distinction

In [32]:
AB['Type'] = 'AB'

In [33]:
AB['Type'].head()

0    AB
1    AB
2    AB
3    AB
4    AB
Name: Type, dtype: object

## Concatenate Data Frames, Confirm if it worked

In [34]:
Combined = [All_A, AB]
Full_list = pd.concat(Combined)

In [36]:
Full_list['Type'].head()

0    All-A
1    All-A
2    All-A
3    All-A
4    All-A
Name: Type, dtype: object

In [37]:
Full_list['Type'].tail()

334    AB
335    AB
336    AB
337    AB
338    AB
Name: Type, dtype: object

## Generate a Class List Data Frame
### Import Class list from STU408

In [44]:
class_sheet = pd.read_csv("class_list_by_period.csv")

### Drop Unnecessary Columns

In [45]:
class_sheet.columns

Index(['Period', 'Section ID', 'Grd', 'Enter Date', 'Student Name',
       'Federal Ethnic Code', 'Student ID', 'Birth Date', 'Home Language',
       'Phone', 'State Testing ID', 'Trk', 'House', 'Team', 'Pathways House',
       'Pathways Team', 'Counselor', 'Course ID', 'Course Title', 'Staff Name',
       'Room Name', 'Student School Year GU', 'Student GU', 'Gen', 'Female',
       'Track', 'Male', 'Audit Class', 'Meeting Days'],
      dtype='object')

In [46]:
class_list = class_sheet.drop(columns=['Period', 'Section ID', 'Enter Date',
       'Federal Ethnic Code', 'Birth Date', 'Home Language',
       'Phone', 'State Testing ID', 'Trk', 'House', 'Team', 'Pathways House',
       'Pathways Team', 'Counselor', 'Course ID', 'Student School Year GU', 'Student GU', 'Gen', 'Female',
       'Track', 'Male', 'Audit Class', 'Meeting Days'])

In [47]:
class_list.columns

Index(['Grd', 'Student Name', 'Student ID', 'Course Title', 'Staff Name',
       'Room Name'],
      dtype='object')

In [48]:
class_list.head()

   Grd Student Name  Student ID Course Title Staff Name Room Name
0    7          XXX     1234567    English 7  Teacher X       208
1    7          XXX     1234567    English 7  Teacher X       208
2    7          XXX     1234567    English 7  Teacher X       208
3    7          XXX     1234567    English 7  Teacher X       208
4    7          XXX     1234567    English 7  Teacher X       208

## Create Merged List

### Rename Student ID Columns so that you can Perform a Merge

In [54]:
class_list.columns = ['Grd', 'Student Name', 'ID', 'Course Title', 'Staff Name',
       'Room Name']
class_list.columns

Index(['Grd', 'Student Name', 'ID', 'Course Title', 'Staff Name', 'Room Name'], dtype='object')

In [58]:
Full_list.columns = ['Grade', 'Student Name', 'ID', 'Type']
Full_list.columns

Index(['Grade', 'Student Name', 'ID', 'Type'], dtype='object')

### Perform Merge

In [63]:
merged = Full_list.merge(class_list, how='left',on=["ID"])

## Export Completed List to Excel to make Certificates

In [ ]:
merged.to_excel("Q1_HR_List.xlsx")