In [1]:
import pandas as pd
import numpy as np

## Import the Tdap List

In [2]:
tdap_list = pd.read_csv("tdap_list_aug21.csv")

In [3]:
tdap_list.head()

        ID            Student Name Birth Date                    ErrorCode
0  1666381  Abdelgadir, Mohamed H.     5/8/08  1-Missing Tdap Immunization
1  1666379   Abdelgadir, Muhaid H.     5/8/08  1-Missing Tdap Immunization
2  1635420           Agge, Chad M.    6/23/08  1-Missing Tdap Immunization
3  1613430         Alba, Nicole S.    2/27/08  1-Missing Tdap Immunization
4  1616391         Alemu, Naomi T.    6/10/08  1-Missing Tdap Immunization

In [4]:
tdap_list.count()

ID              131
Student Name    131
Birth Date      131
ErrorCode       131
dtype: int64

## Import the Contact List

In [5]:
contact_list = pd.read_csv("parent_contact_list.csv")
contact_list.head()
contact_list.columns

Index(['Student Name', 'Student ID', 'Home Language',
       'Correspondence Language', 'Email', 'Home Phone', 'Cell Phone'],
      dtype='object')

In [6]:
contact_list = pd.read_csv("parent_contact_list.csv")
contact_list.columns = ['Student Name', 'ID', 'Home Language',
       'Correspondence Language', 'Email', 'Home Phone', 'Cell Phone']
contact_list.head()

,Student Name,ID,Home Language,Correspondence Language,Email,Home Phone,Cell Phone
0,"Abdelgadir, Mohamed H.",1666381,English,English,haithamh@hotmail.com,571-619-4211,*571-619-4211
1,"Abdelgadir, Muhaid H.",1666379,English,English,haithamh@hotmail.com,571-619-4211,*571-619-4211
2,"Abdelkader, Farah A.",1633384,Arabic,Arabic,afifiwafaa@gmail.com,NaN,*202-823-8222
3,"Abdou, Douaa E.",1615539,Arabic,Arabic,krami2006@gmail.com,703-921-1805,*703-477-9834
4,"Abdul-Mohsen, Rayan A.",1627439,English,English,karrafat@yahoo.com,NaN,202-730-5048

## Do the Merge on "ID", Confirm Row Count

In [7]:
merged = tdap_list.merge(contact_list, how='left',on=["ID"])
merged.count()

ID                         131
Student Name_x             131
Birth Date                 131
ErrorCode                  131
Student Name_y             131
Home Language              131
Correspondence Language    125
Email                      122
Home Phone                  88
Cell Phone                 127
dtype: int64

In [8]:
merged.head()

,ID,Student Name_x,Birth Date,ErrorCode,Student Name_y,Home Language,Correspondence Language,Email,Home Phone,Cell Phone
0,1666381,"Abdelgadir, Mohamed H.",5/8/08,1-Missing Tdap Immunization,"Abdelgadir, Mohamed H.",English,English,haithamh@hotmail.com,571-619-4211,*571-619-4211
1,1666379,"Abdelgadir, Muhaid H.",5/8/08,1-Missing Tdap Immunization,"Abdelgadir, Muhaid H.",English,English,haithamh@hotmail.com,571-619-4211,*571-619-4211
2,1635420,"Agge, Chad M.",6/23/08,1-Missing Tdap Immunization,"Agge, Chad M.",Tagalog/Pilipino,English,eufrice1912@gmail.com,703-296-7471,*703-296-7471
3,1613430,"Alba, Nicole S.",2/27/08,1-Missing Tdap Immunization,"Alba, Nicole S.",Spanish,Spanish,noemivargas27@hotmail.com,*703-866-1206,*571-315-3342
4,1616391,"Alemu, Naomi T.",6/10/08,1-Missing Tdap Immunization,"Alemu, Naomi T.",Amharic,English,tedla19@gmail.com,*571-213-6388,NaN

## Create a "Call List"

In [9]:
call_list = merged.drop(['Birth Date','Student Name_y','ErrorCode'], axis=1)
call_list.head()

,ID,Student Name_x,Home Language,Correspondence Language,Email,Home Phone,Cell Phone
0,1666381,"Abdelgadir, Mohamed H.",English,English,haithamh@hotmail.com,571-619-4211,*571-619-4211
1,1666379,"Abdelgadir, Muhaid H.",English,English,haithamh@hotmail.com,571-619-4211,*571-619-4211
2,1635420,"Agge, Chad M.",Tagalog/Pilipino,English,eufrice1912@gmail.com,703-296-7471,*703-296-7471
3,1613430,"Alba, Nicole S.",Spanish,Spanish,noemivargas27@hotmail.com,*703-866-1206,*571-315-3342
4,1616391,"Alemu, Naomi T.",Amharic,English,tedla19@gmail.com,*571-213-6388,NaN

## Export Call List from Data Frame to Excel

In [10]:
call_list.to_excel("current_tdap_list.xlsx")

## Drop Columns and Create eNotify Spreadsheet

In [11]:
merged.columns

Index(['ID', 'Student Name_x', 'Birth Date', 'ErrorCode', 'Student Name_y',
       'Home Language', 'Correspondence Language', 'Email', 'Home Phone',
       'Cell Phone'],
      dtype='object')

In [12]:
enotify_list = merged.drop(['Birth Date', 'ErrorCode', 'Student Name_y',
       'Home Language', 'Correspondence Language'], axis=1)
enotify_list.head()
enotify_list.count()

ID                131
Student Name_x    131
Email             122
Home Phone         88
Cell Phone        127
dtype: int64

## Export eNotify to CSV

In [14]:
enotify_list.to_csv("enotify_list_8-21.csv")